
<h3>Contact</h3>
<p>
Marco Fumasoni <br>
Instituto Gulbenkian de Ciência (IGC) <br>
Rua da Quinta Grande 6 <br>
2780-156 Oeiras, Portugal <br>
email: mfumasoni (at) igc.gulbenkian.pt <br>
<br>
<a href="https://scholar.google.com/citations?user=RcN_8nkAAAAJ&hl=en"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
<a href="http://twitter.com/marcofumasoni"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
<a href="http://orcid.org/0000-0002-4507-7824"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
<a href="https://FumaLab.github.io"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
</p>

<div class="googlemaps">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24913.384985099798!2d-9.333232462463467!3d38.690867379603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ec928d2d8dbd9%3A0xa58d2f307c0a2f57!2sInstituto%20Gulbenkian%20de%20Ci%C3%AAncia%20(IGC)!5e0!3m2!1spt-PT!2spt!4v1651600207918!5m2!1spt-PT!2spt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
     </iframe>
 </div>

